@page "/"
@page "/{categoryUrl}"
@using Web.Components
@inject ICategoryService CategoryService
@inject IProductService ProductService
@inject ILocalStorageService LocalStorage


@if(_category != null){
    <h1>@_category.Name</h1>
    <ProductListViewModel CategoryId="@_category.Id" />
}
else{
    <AuthorizeView>
        <Authorized>
            <h3>Вы вошли в систему.</h3>
        </Authorized>
        <NotAuthorized>
            <h3>Добро пожаловать!</h3>
        </NotAuthorized>
    </AuthorizeView>
}


@code {
    [Parameter]
    public string CategoryUrl { get; set; }

    private CategoryDTO _category;

    protected override void OnParametersSet()
    {
        if(CategoryUrl != null)
        {
            _category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
        }
        else{
            _category = null;
        }
    }
}